/* 전체 */
body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f9;
    color:#333;
}

/* 헤더 */
header{
    background:#2563eb;
    color:white;
    text-align:center;
    padding:40px 20px;
}

header h1{
    margin:0;
    font-size:38px;
}

header p{
    margin-top:10px;
    opacity:.9;
}

/* 상단 메뉴 */
body > nav:first-of-type{
    display:flex;
    justify-content:center;
    gap:15px;
    background:#1f2937;
    padding:15px;
}

body > nav:first-of-type a{
    color:white;
    text-decoration:none;
    padding:10px 18px;
    border-radius:6px;
    transition:.3s;
}

body > nav:first-of-type a:hover{
    background:#2563eb;
}

/* 제목 */
h2{
    margin:40px auto 20px;
    width:90%;
    color:#2563eb;
    border-left:6px solid #2563eb;
    padding-left:10px;
}

/* 목록 */
.menu-grid{
    width:90%;
    margin:auto;
    display:grid;

    grid-template-columns:
            repeat(auto-fill,minmax(220px,1fr));

    gap:15px;

    margin-bottom:50px;
}

/* 카드 */
.menu-grid a{

    background:white;

    border-radius:10px;

    padding:18px;

    text-decoration:none;

    color:#333;

    font-weight:bold;

    box-shadow:0 3px 8px rgba(0,0,0,.1);

    transition:.25s;

}

/* Hover */

.menu-grid a:hover{

    background:#2563eb;

    color:white;

    transform:translateY(-5px);

    box-shadow:0 10px 20px rgba(0,0,0,.2);

}